block variables

doctype html
html(lang='en')
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="description", content=descr)
        title #{title}
    body
        block content