extends layout

block variables
  - var title = 'ETERNAL FILM'
  - var descr = 'Экспериментальный бесконечный фильм, интерактивный видео-арт'

block content
    .screen
    form
      input#link(type="text")
      input(type="button", value="добавить")