extends layout

block variables
  - var title = 'ETERNAL FILM'
  - var descr = 'Экспериментальный бесконечный фильм, интерактивный видео-арт'

block content
    .cinema
      .screen
        .video#player
        p нажмите на экран, чтобы начать фильм
      form
        input#link(type="text", placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ")
        input#add(type="button", value="добавить ссылку")