extends layout

block variables
  - var title = 'ETERNAL FILM'
  - var descr = 'Экспериментальный бесконечный фильм, интерактивный видео-арт'

block content
    .cinema
      .screen
      form
        input#link(type="text", placeholder="https://coub.com/view/6k9bg")
        input(type="button", value="добавить ссылку")