extends layout

block variables
  - var title = 'ETERNAL FILM'
  - var descr = 'Экспериментальный бесконечный фильм, интерактивный видео-арт'

block content
    .cinema
      .screen
        .video.video_hidden#player_odd
        .video.video_hidden#player_even
        .title
          .title__text нажмите на экран, чтобы начать фильм
        .filter
      .control
        form.form
          input#link(type="text", value="скопируйте ссылку на ваше видео сюда" autocomplete="off")
          input#add(type="button", value="добавить ссылку")
        .mini.mini_none
          .opt.opt_none
            input#back(type="button", value="добавить")
            input#pause(type="button", value="пауза")
          .logo.logo_none ef