extends layout

block variables
  - var title = 'ETERNAL FILM'
  - var descr = 'Экспериментальный бесконечный фильм, интерактивный видео-арт'

block content
    .cinema
      .screen
        .video.video_none#player_odd
        .video.video_none#player_even
        p нажмите на экран, чтобы начать фильм
      form.add-link
        input#link(type="text", value="скопируйте ссылку на ваше видео сюда" autocomplete="off")
        input#add(type="button", value="добавить ссылку")