@import 'reset.css';

body {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

.cinema{
    width: 100%;
    height: 100%;
    background-color: black;
}

.screen {
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(180, 159, 142);
    display: flex;
    overflow: hidden;
}
.video {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: visible;
    //transform: scale(1.15);
    transform: scale(1.5);
    &_hidden {
        visibility: hidden;
    }
}
.title {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    &__text {
        user-select: none;
        align-self: center;
        text-align: center;
        &_on {
            padding: 25%;
            font-size: 50px;
            line-height: 80px;
            text-align: justify;
            text-transform: uppercase;
            font-family: 'Arial Black';
        }
    }
    &_none {
        display: none;
    }
}
.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    &_none {
        background-image: none;
        mix-blend-mode: normal;
    }
}

$control-small-width: 150px;
$control-small-height: 150px;

.control {
    position: absolute;
    top: 0;
    right: 10%;
    width: 80%;
    height: 50px;
    background-color: rgb(119, 89, 62);
    &_small {
        top: 50px;
        right: 50px;
        width: $control-small-width;
        height: $control-small-height;
        border-radius: 50%;
        opacity: 0.3;
    }
    &_small_square {
        top: 50px;
        right: 50px;
        width: $control-small-width;
        height: $control-small-height;
        border-radius: 0;
        opacity: 1;
    }
    &_anim_square {
        animation: sign_square 1s;
    }
    &_anim_rotate {
        top: 50px;
        right: 50px;
        width: $control-small-width;
        height: $control-small-height;
        border-radius: 0;
        opacity: 1;
        animation: sign_rotate 1s ease-in;
    }
    &_anim_rotate_back {
        animation: sign_rotate_back 0.5s;
    }
}

.form {
    height: 100%;
    display: flex;
    &_none {
        display: none;
    }
    &_anim_disapp {
        animation: disapp 1s;
    }
}

.field {
    background-color: rgb(119, 89, 62);
    color: rgb(238, 220, 206);
    &_form {
        height: 100%;
        width: 100%;
        text-align: center;
        padding: 5px 20px;
        &::placeholder{
            color: rgb(78, 59, 45);
        }
        &:hover {
            background-color: rgb(145, 108, 76);
        }
    }
}

$button-mini-width: 44px;
$button-mini-height: 44px;
$opt-height: 135px;
$opt-vol-panel-margin-left: 20px;
$vol-width: 35px;
$vol-height: 135px;
$vol-border: 15px;
$vol-runner-left: -5px;
$vol-runner-width: 15px;
$vol-runner-height: 15px;
$vol-slider-top: -20px;
$vol-slider-left: -12px;
$vol-slider-width: 30px;

.button {
    color: rgb(238, 220, 206);
    background-color: rgb(70, 52, 37);
    border: 2px solid rgb(119, 89, 62);
    border-radius: 5px;
    &:hover {
        background-color: rgb(82, 60, 43);
        color: white;
        border: 1px solid rgb(173, 148, 136);
    }
    &_form {
        height: 100%;
        text-align: center;
        padding: 5px 20px;
        display: none;
        width: 250px;
        border-width: 5px;
        &:hover {
            border-width: 1px;
        }
    }
    &_mini {
        width: $button-mini-width;
        height: $button-mini-height;
        padding: 0;
        display: block;
        margin: 1px;
        border-width: 1px;
        border-radius: 50%;
        background: no-repeat center/100% url('static/plus.svg');
        &:hover {
            border-color: rgb(58, 49, 44);
            animation: invert 0.5s;
        }
        // &_anim {
        //     border-color: rgb(58, 49, 44);
        //     animation: invert 0.5s;
        // }
        &_anim_none:hover {
            animation: none;
        }
    }
    &_invert {
        filter: invert(0.9);
        mix-blend-mode: color-burn;
    }
    &_pause {
        background-image: url('static/pause.svg');
    }
    &_play {
        background-image: url('static/play.svg');
    }
    &_filter {
        background-image: url('static/filter.svg');
    }
    &_disabled {
        background-image: url('static/refresh.svg');
    }
}

.vol {
    width: $vol-width;
    height: $vol-height;
    background-color: rgb(0, 0, 0);
    border: solid rgb(95, 63, 39);
    border-width: $vol-border;
    border-radius: 15px;
    &__runner {
        position: relative;
        top: 0px;
        left: $vol-runner-left;
        width: $vol-runner-width;
        height: $vol-runner-height;
        //border-radius: 50%;
        background-color: rgb(119, 89, 62);
        &_hover {
            background-color: rgb(134, 107, 82);
        }
    }
    &__slider {
        position: relative;
        top: $vol-slider-top;
        left: $vol-slider-left;
        width: $vol-slider-width;
        height: 110%;
    }
}

.mini {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    user-select: none;
    .opt {
        width: 65%;
        height: $opt-height;
        align-self: center;
        display: flex;
        //justify-content: start;
        flex-direction: row;
        &__btn-panel {
            display: flex;
            flex-direction: column;
        }
        &__vol-panel {
            margin-left: $opt-vol-panel-margin-left;
            align-self: center;
        }
        &_none {
            display: none;
        }
    }
    .logo {
        align-self: center;
        font-size: 100px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;                
        color: rgb(0, 0, 0);
        &_none {
            display: none;
        }
    }
    &_none {
        display: none;
    }
}

$d: 1.5;

@media only screen and (max-width : 1000px) {
    .video {
        transform: scale(1.63);
    }
    .title__text_on {
        padding: 50px;
        font-size: 25px;
        line-height: 40px;
    }
    .control {
        right: 0;
        width: 100%;
        height: 35px;
        font-size: 15px;
        &_small,
        &_small_square,
        &_anim_rotate {
            top: 10px;
            right: 10px;
            width: calc(#{$control-small-width} / #{$d});
            height: calc(#{$control-small-height} / #{$d});
        }
        &_anim_square {
            animation: sign_square_phone 1s;
        }
    }
    .field {
        padding: 5px 6px;
    }
    .button {
        padding: 5px 6px;
        border-width: 2px;
        &_mini {
            padding: 0;
            border-width: 1px;
            width: calc(#{$button-mini-width} / #{$d});
            height: calc(#{$button-mini-height} / #{$d});
        }
    }
    .vol {
        width: calc(#{$vol-width} / #{$d});
        height: calc(#{$vol-height} / #{$d});
        border-width: calc(#{$vol-border} / #{$d});
        &__runner {
            width: calc(#{$vol-runner-width} / #{$d});
            height: calc(#{$vol-runner-height} / #{$d});
            left: calc(#{$vol-runner-left} / #{$d});
        }
        &__slider {
            top: calc(#{$vol-slider-top} / #{$d});
            left: calc(#{$vol-slider-left} / #{$d});
            width: calc(#{$vol-slider-width} / #{$d});
            height: 110%;
            //background-color: red;
        }
    }
    .mini {
        .opt {
            height: calc(#{$opt-height} / #{$d});
            &__vol-panel {
                margin-left: calc(#{$opt-vol-panel-margin-left} / #{$d});
            }
        }
        .logo {
            font-size: 50px;
        }
    }
}
@media only screen and (max-width : 800px) {
    .video {
        transform: scale(3.9);
    }
    .title__text_on {
        padding: 20px;
        font-size: 20px;
        line-height: 50px;
    }
    .control {
        height: calc(#{$control-small-height} / #{$d});
    }
    .form {
        flex-direction: column;
    }
    .button {
        width: 100%;
        &_mini {
            width: calc(#{$button-mini-width} / #{$d});
        }
    }
}

@keyframes sign_square {
    to { 
        height: $control-small-height;
        width: $control-small-width;
        top: 50px;
        right: 50px;
    }
}
@keyframes sign_square_phone {
    to { 
        height: calc(#{$control-small-height} / #{$d});
        width: calc(#{$control-small-width} / #{$d});
        top: 10px;
        right: 10px;
    }
}
@keyframes sign_rotate {
    to { 
        transform: rotate(-720deg);
        border-radius: 50%;
        opacity: 0.3;
    }
}
@keyframes sign_rotate_back {
    to { 
        transform: rotate(180deg);
        border-radius: 0;
        opacity: 1;
    }
}

@keyframes disapp {
    to { 
        opacity: 0;
    }
}

@keyframes invert {
    from { 
        filter: invert(0.8);
        mix-blend-mode: color-burn;
    }
    to { 
        filter: invert(0.9);
        mix-blend-mode: color-burn;
    }
}

@keyframes wrong {
    from { 
        background-color: coral;
    }
    to { 
        background-color: crimson;
    }
}
