@import 'reset.css';

body {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cinema{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .screen {
        flex-grow: 1;
        background-color: rgb(22, 16, 11);
        color: rgb(180, 159, 142);
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        p {
            align-self: center;
        }
        .coub {
            position: absolute;
            width: 100%;
            height: 100%;
            top: -25px;
            z-index: 1;
        }
    }
    form {
        display: flex;
        min-width: 200px;
        min-height: 50px;
        justify-content: space-between;
        z-index: 100;
        input {
            flex-grow: 1;
            padding: 5px 40px;
            background-color: rgb(43, 31, 22);
            color: white;
            &[type='button'] {
                background-color: rgb(22, 16, 11);
                color: rgb(180, 159, 142);
                &:hover {
                    background-color: rgb(43, 31, 22);
                    color: white;
                    border: 1px solid rgb(180, 159, 142);
                }
            }
        }
    }
}
