@import 'reset.css';

body {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cinema{
    width: 100%;
    height: 100%;
    background-color: black;
}

.screen {
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(180, 159, 142);
    display: flex;
    overflow: hidden;
}
.video {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: visible;
    //transform: scale(1.15);
    transform: scale(1.5);
    &_hidden {
        visibility: hidden;
    }
}
.title {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    &__text {
        user-select: none;
        align-self: center;
        text-align: center;
        &_on {
            padding: 25%;
            font-size: 50px;
            line-height: 80px;
            text-align: justify;
            text-transform: uppercase;
            font-family: 'Arial Black';
        }
    }
    &_none {
        display: none;
    }
}
.filter {
    position: absolute;
    width: 100%;
    height: 100%;
}

.control {
    position: absolute;
    top: 0;
    right: 10%;
    width: 80%;
    height: 50px;
    background-color: rgb(119, 89, 62);
    &_small {
        top: 50px;
        right: 50px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        opacity: 0.3;
    }
    &_small_square {
        top: 50px;
        right: 50px;
        width: 150px;
        height: 150px;
        border-radius: 0;
        opacity: 1;
    }
    &_anim_square {
        animation: sign_square 1s;
    }
    &_anim_rotate {
        top: 50px;
        right: 50px;
        width: 150px;
        height: 150px;
        border-radius: 0;
        opacity: 1;
        animation: sign_rotate 1s ease-in;
    }
    &_anim_rotate_back {
        animation: sign_rotate_back 0.5s;
    }
}
.form {
    height: 100%;
    display: flex;
    input {
        height: 100%;
        text-align: center;
        padding: 5px 20px;
        background-color: rgb(119, 89, 62);
        color: rgb(238, 220, 206);
        &[type='text'] {
            width: 100%;
            &::placeholder{
                color: rgb(78, 59, 45);
            }
            &:hover {
                background-color: rgb(145, 108, 76);
            }
        }
        &[type='button'] {
            display: none;
            width: 250px;
            background-color: rgb(70, 52, 37);
            border: 5px solid rgb(119, 89, 62);
            border-radius: 5px;
            &:hover {
                background-color: rgb(82, 60, 43);
                color: white;
                border: 1px solid rgb(173, 148, 136);
            }
        }
    }
    &_none {
        display: none;
    }
    &_anim_disapp {
        animation: disapp 1s;
    }
}
.mini {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    user-select: none;
    .text {
        align-self: center;
        text-align: center;
        color: rgb(238, 220, 206);
        &_none {
            display: none;
        }
    }
    .logo {
        align-self: center;
        font-size: 100px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;                
        color: rgb(0, 0, 0);
        &_none {
            display: none;
        }
    }
    &_none {
        display: none;
    }
}

@media only screen and (max-width : 1000px) {
    .video {
        transform: scale(1.63);
    }
    .title__text_on {
        padding: 50px;
        font-size: 25px;
        line-height: 40px;
    }
    .control {
        right: 0;
        width: 100%;
        height: 35px;
        font-size: 15px;
        &_small,
        &_small_square,
        &_anim_rotate {
            top: 10px;
            right: 10px;
            width: 75px;
            height: 75px;
        }
        &_anim_square {
            animation: sign_square_phone 1s;
        }
    }
    .form {
        input {
            padding: 5px 6px;
            &[type='button'] {
                border-width: 2px;
            }
        }
    }
    .mini {
        .text {
            display: none;
        }
        .logo {
            font-size: 50px;
        }
    }
}
@media only screen and (max-width : 500px) {
    .video {
        transform: scale(3.9);
    }
    .title__text_on {
        padding: 20px;
        font-size: 20px;
        line-height: 50px;
    }
    .control {
        height: 75px;
    }
    .form {
        flex-direction: column;
        input[type='button'] {
            width: 100%;
        }
    }
}

@keyframes sign_square {
    to { 
        height: 150px;
        width: 150px;
        top: 50px;
        right: 50px;
    }
}
@keyframes sign_square_phone {
    to { 
        height: 75px;
        width: 75px;
        top: 10px;
        right: 10px;
    }
}
@keyframes sign_rotate {
    to { 
        transform: rotate(-720deg);
        border-radius: 50%;
        opacity: 0.3;
    }
}
@keyframes sign_rotate_back {
    to { 
        transform: rotate(180deg);
        border-radius: 0;
        opacity: 1;
    }
}

@keyframes disapp {
    to { 
        opacity: 0;
    }
}